h3 The Block Pieces
<p> The script blocks are designed to act like puzzle pieces. Each block has programming logic written on it, and the blocks fit into each other to create a single logical script. The following are the example of block shapes and what they represent. </p>
each item in contents['blocks.json'].metadata     
  div
    img(src='images/' + item.image)
  div.row= item.description
  <br>
  <br>