h3 Getting Started
each item in contents['scratch.json'].metadata     
  h4= item.title
  div.row
    div.three.columns
      img(src='images/' + item.image)
    div.seven.columns
      = item.description
