h3 Getting Started
<p> The following will walk through creating a simple side scrolling program.</p>
each item in contents['start.json'].metadata     
  div
    img(src='images/' + item.image)
  div.row= item.description
  <br>
  <br>